services:
  - name: model-service
    enabled: true
    path: /model
    replicaCount: 1
    image:
      repository: ghcr.io/remla2025-team16/model-service
      tag: latest
    containerPort: 5010
    servicePort: 5010
    
  - name: app-service
    enabled: true
    path: /api
    replicaCount: 1
    image:
      repository: ghcr.io/remla2025-team16/app/app-service
      tag: latest
    containerPort: 8080
    servicePort: 8080
  
  - name: app-frontend
    enabled: true
    path: /
    replicaCount: 1
    image:
      repository: ghcr.io/remla2025-team16/app/app-frontend
      tag: latest
    containerPort: 3000
    servicePort: 3000

configMap:
  data:
    MODEL_SERVICE_URL: "http://{{ include \"my-app.fullname\" $ }}-model-service:5010"
    API_BASE_URL: "http://{{ include \"my-app.fullname\" $ }}-app-service:8080"
    MODEL_URL: "https://github.com/remla2025-team16/model-training/releases/download/v1.0.0/sentiment-model.pkl"

ingress:
  enabled: true
  host: myapp.local

serviceMonitor:
  enabled: true
  release: prometheus
  interval: 15s
