services:
  - name: model-service
    enabled: true
    path: /model
    replicaCount: 1
    image:
      repository: ghcr.io/remla2025-team16/model-service
      tag: latest
    containerPort: 5010
    servicePort: 5010
    
  - name: app-service
    enabled: true
    path: /api
    versions:
      - name: v1
        replicaCount: 3
        image:
          repository: ghcr.io/remla2025-team16/app/app-service
          tag: v1.0.0
        containerPort: 8080
      - name: v2
        replicaCount: 3
        image:
          repository: ghcr.io/remla2025-team16/app/app-service
          tag: v2.0.0
        containerPort: 8080
    servicePort: 8080
    containerPort: 8080
  
  - name: app-frontend
    enabled: true
    path: /
    replicaCount: 1
    image:
      repository: ghcr.io/remla2025-team16/app/app-frontend
      tag: v1.0.0
    containerPort: 3000
    servicePort: 3000

configMap:
  data:
    MODEL_SERVICE_URL: "http://{{ include \"my-app.fullname\" $ }}-model-service:5010"
    API_BASE_URL: "http://{{ include \"my-app.fullname\" $ }}-app-service:8080"
    MODEL_URL: "https://github.com/remla2025-team16/model-training/releases/download/v1.0.0/sentiment-model.pkl"

ingress:
  enabled: True
  host: myapp.local

serviceMonitor:
  enabled: true
  release: prometheus
  interval: 15s

istio:
  gateway:
    name: my-gateway
    namespace: default
    port: 80
    host: "*"
  
  app:
    versionLabelKey: version

  canary:
    weightV1: 90
    weightV2: 10
  
  sticky:
    enabled: true
    cookieName: user-id
    
  rateLimit:
    enabled: false # true
    unit: "1m"
    requestsPerUnit: 10
    matchHeader: "user-id"
    rateLimitName: per-user-limit

